%p
  %a{href: bill_payment_path(bill_payment.id, now: DateTime.now, format: 'pdf'), class: 'btn btn-default btn-lg btn-block', target: '_blank'}
    %i.fa.fa-file-pdf-o.fa-lg
    Print

%p
  %a{href: send_to_leads_online_bill_payment_path(bill_payment.id), class: "btn btn-primary btn-lg btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Send to Leads"}}
    %i.fa.fa-search
    Send to Leads