.jumbotron{style: "background: white;"}
  .col-sm-6
    .well
      %h2 Scrap Yard Dog and Scrap Dragon Xtreme
      %p
        Scrap Yard Dog is an elligant scrap purchasing software. 
        There are two options to store your data. DOG/Dragon stores your data in Scrap Dragon so seamless updgrades to Scrap Dragon are available.
      %h3 Free Scrap Buying System
      %ul
        %li  
          %p Start Buying Scrap Today for FREE
        %li  
          %p Use Any Mobile Device
        %li  
          %p Image Management & Compliance
        %li  
          %p Custom Commodity Management
        %li  
          %p Transaction & Commodity Reports
        %li 
          %p= link_to 'More Info', 'https://tranact.com/freescrapbuying', target: '_blank'
      %p= link_to 'Sign up!', 'https://sdx.scrapyarddog.com/signup', class: 'btn btn-primary btn-lg'
  .col-sm-6
    .well
      %h2 Scrap Yard Dog and QuickBooks Online
      %p
        DOG/QuickBooks uses the same interface and stores your data in QuickBooks OnLine. (Subscription required)
      %h3 It's as easy as this
      %ul
        %li 
          %p Purchase Subscription to QuickBooks Online Plus
        %li  
          %p Download Commodity Spreadsheet and Edit to Reflect Commodities You Purchase and Sell
        %li  
          %p License DOG by Supplying Your QuickBooks Online Plus ID# to Your DOG Representative
        %li  
          %p Start Buying Scrap!
        %li
          %p= link_to 'More Info', 'https://tranact.com/scrapyarddogqb/', target: '_blank'
      %p= link_to 'Sign up!', 'https://tranact.com/request-a-quote', class: 'btn btn-success btn-lg', target: '_blank'