.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only= t('.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -#
        %a{class: 'navbar-brand', :href => root_path}
          = image_tag('syd_logo_20x37.png')
      %a.navbar-brand{:href => root_path, :rel => "home", :title => "Scrap Yard Dog"}
        %i.fa.fa-recycle
        Scrap Yard Dog
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        -#
          %li
            %a{href: welcome_about_path} 
              ABOUT
          %li
            %a{href: 'https://tranact.com/scrapyarddog/', target: '_blank'} 
              HOW IT WORKS
          %li
            %a{href: '#'} 
              PRICING
          %li
            %a{href: '#'} 
              CONTACT
        -#
          %li
            %a{href: "https://sandbox.qbo.intuit.com/app/homepage", target: '_blank'}
              QUICKBOOKS
      %ul.nav.navbar-nav.navbar-right
        &nbsp;
        %li
          %a{href: 'https://sdx.scrapyarddog.com/login'} 
            %i.fa.fa-lock
            ScrapDragon
        %li
          %a{href: new_user_session_path}
            %i.fa.fa-lock
            QuickBooks
        -#
          %li
            %a{href: new_user_registration_path}
              %i.fa.fa-lock
              SIGN UP